/* BREAKPOINTS
* ------------------------------------------------------------------------------
*/
$breakpoint-xs: 20rem; /* 320px */
$breakpoint-s: 26.625em; /* 426px */
$breakpoint-m: 36rem; /* 576px */
$breakpoint-l: 48rem; /* 768px */
$breakpoint-xl: 64.0625rem; /* 1025px */
$breakpoint-xxl: 75rem; /* 1200px */
$breakpoint-xxxl: 90rem; /* 1440px */

/* FONTS
* ------------------------------------------------------------------------------
*/

@font-face {
  font-family: "Akzidenz";
  src: url("/fonts/akz.ttf") format("truetype");
}

@font-face {
  font-family: "Essence Sans";
  src: url("/fonts/es.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Light";
  src: url("/fonts/gl.otf") format("opentype");
}

@font-face {
  font-family: "Gotham Medium";
  src: url("/fonts/gm.otf") format("opentype");
}

$font-body-light:
  "Gotham Light",
  -apple-system,
  BlinkMacSystemFont,
  Helvetica,
  Arial,
  sans-serif;

$font-body-medium:
  "Gotham Medium",
  -apple-system,
  BlinkMacSystemFont,
  Helvetica,
  Arial,
  sans-serif;

$font-heading-header: Helvetica, Arial, sans-serif;

$font-heading-detail:
  "Essence Sans",
  -apple-system,
  BlinkMacSystemFont,
  Helvetica,
  Arial,
  sans-serif;

/* COLORS
* ------------------------------------------------------------------------------
*/
$white: #fff;
$black: #000;
$grey-lightest: #f0f0f0;
$grey-lighter: #eee;
$grey-light: #ccc;
$grey: #999;
$grey-dark: #171717;
$red: #f00;
$yellow: #f9ed33;
$blue: #38bdbd;

$text: $white;

/* COLOR CONFIGS
* ------------------------------------------------------------------------------
*/
$bg-clr: $grey-dark;
$text-clr: $text;
$primary-clr: $yellow;

/* SPACING
* ------------------------------------------------------------------------------
*/
$container-width: 63.125rem;
$space: 1.5rem; /* 24px */

$space-5: calc($space / 12); /* 2px */
$space-10: calc($space / 6); /* 4px */
$space-20: calc($space / 3); /* 8px */
$space-30: calc($space / 2); /* 12px */
$space-40: calc($space * 0.75); /* 18px */
$space-50: $space; /* 24px */
$space-55: calc($space * 1.5); /* 36px */
$space-60: calc($space * 2); /* 48px */
$space-65: calc($space * 2.5); /* 60px */
$space-70: calc($space * 3); /* 72px */
$space-80: calc($space * 4); /* 96px */
$space-85: calc($space * 6); /* 144px */
$space-90: calc($space * 8); /* 192px */

/* Andy Bell's More Modern CSS Reset */
/* https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  margin: 0;
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  background-color: $primary-clr;
  font-family: $font-body-light;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
}

address {
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
}

/*
*
* Header
*
*/
.header {
  align-items: center;
  background-color: $primary-clr;
  display: flex;
  flex-direction: column;
  gap: $space-10;
  justify-content: center;
  padding-bottom: $space-40;
  padding-top: $space-50;

  &__title {
    font-family: $font-heading-header;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 0;

    &-link {
      color: $black;
      outline: none;
      text-decoration: none;

      &:focus {
        text-decoration: underline;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    &:not(:last-of-type) {
      .header__link::after {
        content: "//";
        font-style: normal;
        margin-left: 0.33rem;
        margin-right: 0.33rem;
      }
    }
  }

  &__link {
    color: $black;
    font-family: $font-body-light;
    font-size: 1rem;
    font-style: italic;
    font-weight: 500;
    outline: none;
    text-decoration: none;

    &:focus,
    &:hover {
      span {
        text-decoration: underline;
      }
    }

    &-text--active {
      font-family: $font-body-medium;
    }
  }
}

/*
*
* Footer
*
*/
.footer {
  align-items: center;
  background: $primary-clr;
  display: flex;
  flex-direction: column;
  padding-bottom: $space-40;
  padding-top: $space-40;
  width: 100%;

  &__nav {
    display: flex;
    gap: $space-20;
  }

  &__link {
    display: flex;
    gap: $space-20;
    justify-content: center;
    margin-bottom: $space-20;
    transition: scale 0.2s ease-out;

    &:focus,
    &:hover {
      scale: 1.2;
    }
  }

  &__icon {
    height: 1.25rem;
  }
}

/*
*
* Global
*
*/
.content {
  background-color: $bg-clr;
  padding-bottom: $space-50;
  padding-top: $space-55;
}

.inner-content {
  margin: 0 auto;
  max-width: $container-width;
  width: 90%;

  @media (min-width: $breakpoint-xl) {
    width: 100%;
  }
}

/*
*
* Home Page
*
*/
.home {
  &__header-wrapper {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
  }
}

/*
*
* Category Page
*
*/
.category {
  &__list {
    display: grid;
    gap: $space-40 $space-30;
    grid-template-columns: repeat(auto-fit, 240px);
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
  }

  &__item {
    max-width: 15rem;

    &:hover,
    &:focus {
      img {
        opacity: 0.8;
      }
    }

    &-title {
      font-size: 0.75rem;
      line-height: 1.1;
      margin: 0;
      margin-top: $space-20;
    }

    &-link {
      color: $primary-clr;
      font-weight: 500;
      text-decoration: none;
    }
  }

  &__reel-button {
    .category__item-title {
      text-align: left;
    }
  }

  &__reel-link {
    color: $black;
    text-decoration: none;

    &:hover {
      color: $blue;
    }
  }

  &__reel-container {
    align-items: center;
    background-color: $primary-clr;
    display: flex;
    height: 136px;
    justify-content: center;
    width: 240px;

    &:hover {
      .category__reel-text {
        transform: scale(1.1);
      }
    }

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &__reel-text {
    font-family: $font-body-light;
    font-weight: 500;
    margin: 0;
    transition: transform 0.2s ease-out;
  }
}

/*
*
* Detail Page
*
*/
.detail-page {
  display: grid;
  gap: $space-30 $space-40;
  grid-template-areas:
    "featured-image"
    "image-list"
    "copy";
  margin: 0 auto;

  @media (min-width: $breakpoint-xl) {
    grid-template-areas:
      "featured-image image-list"
      "copy image-list";
    grid-template-columns: 1fr 5.125rem;
    grid-template-rows: auto 1fr;
  }

  &__featured-image {
    grid-area: featured-image;
    height: auto;
    opacity: 1;
    transition: opacity 1s ease-out;
    view-transition-name: featured-image;
  }

  &__image-list {
    display: flex;
    flex-wrap: wrap;
    gap: $space-5;
    grid-area: image-list;

    @media (min-width: $breakpoint-xl) {
      flex-direction: column;
      flex-wrap: nowrap;
    }

    &-button {
      background: none;
      border: none;
      cursor: pointer;
      outline: none;
      padding: 0;

      &:focus-visible {
        outline: 1px solid $primary-clr;
      }

      &:hover {
        .detail-page__image-list-image {
          opacity: 1;
        }
      }
    }

    &-image {
      max-width: 5.125rem;
      opacity: 0.7;

      &--active {
        opacity: 1;
      }
    }
  }

  &__text-content {
    grid-area: copy;
  }

  &__heading {
    color: $primary-clr;
    font-family: $font-heading-detail;
    font-size: 1.0625rem;
    font-weight: 700;
    letter-spacing: 0.0625em;
    line-height: 1.1;
    margin: 0;
    margin-bottom: $space-5;
    text-transform: uppercase;
  }

  &__copy {
    color: $white;
    font-size: 0.75rem;
    margin: 0;

    &--awards {
      font-style: italic;
      line-height: 1.2;
      margin-top: $space-20;
    }
  }

  &__back-button {
    margin-top: $space-30;
    outline: none;
    transition: scale 0.2s ease-out;
    width: 2rem;

    &:focus,
    &:hover {
      scale: 1.2;
    }
  }
}

/*
*
* Contact Page
*
*/
.contact {
  margin: 0 auto;
  max-width: 27rem;
  padding-left: $space-40;
  padding-right: $space-40;

  &__map-container {
    margin-bottom: $space-50;
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    gap: $space-30;
    margin-bottom: $space-55;
  }

  &__social-links-container {
    margin-bottom: $space-30;
  }

  &__item {
    align-items: center;
    display: flex;
    gap: $space-20;

    display: grid;
    grid-template-columns: 1.25rem 1fr;

    .col-1 {
      display: grid;
      place-items: center;
    }

    img {
      height: 1.25rem;
    }
  }

  a {
    color: $primary-clr;
    font-size: 0.8rem;
    outline: none;
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  &__social-links-list {
    display: flex;
    gap: $space-60;
    justify-content: center;

    img {
      height: 1.5rem;
    }
  }
}

dialog {
  background-color: transparent;
  border: 0;
  max-width: 55.25rem;
  width: 96%;

  &::backdrop {
    background-color: rgba($black, 0.8);
    transition: background-color 0.25s ease;
  }

  iframe {
    border: 0;
    opacity: 1;
    transition: opacity 0.25s ease;
    transition-delay: 0.375s;
    width: 100%;
  }

  button {
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 1px 1px 1.5px #c1c1c1;
    font-weight: 900;
    height: 24px;
    left: 1.75rem;
    opacity: 1;
    padding: 0.125rem;
    position: absolute;
    top: 1.75rem;
    transition:
      opacity 0.25s ease,
      scale 0.2s ease-out;
    transition-delay: 0.375s;
    width: 24px;
    z-index: 1;

    &:focus {
      outline: 2px solid $blue;
    }

    &:hover {
      scale: 1.2;
      transition-delay: 0;
    }
  }
}

@starting-style {
  dialog[open]::backdrop {
    background-color: rgba($black, 0.1);
  }

  dialog iframe,
  dialog button {
    opacity: 0;
  }

  .detail-page__featured-image {
    opacity: 0;
  }
}

/* Adjust speed of the cross-fade */
::view-transition-group(featured-image) {
  animation-duration: 0.25s;
}

/* Use standard animations to refine the fade */
::view-transition-old(featured-image) {
  animation: 0.25s ease-out both fade-out;
}
::view-transition-new(featured-image) {
  animation: 0.25s ease-in both fade-in;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}
