@use "variables" as *;

body {
  background-color: $primary-clr;
  font-family: $font-body-regular;
  font-weight: 400;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

p,
li {
  font-size: 1.5rem;
  margin: 0;
}

p + p {
  margin-top: $space-60;
}

h2 {
  font-family: $font-heading;
  font-size: 2.5rem;
  margin-top: 0;

  + p {
    margin-top: $space-60;
  }
}

h3 {
  font-family: $font-heading;
  font-size: 2rem;
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
}

address {
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
}

.content {
  background-color: $bg-clr;
  padding-bottom: $space-50;
  padding-top: $space-55;
}

.inner-content {
  margin: 0 auto;
  max-width: $container-width;
  width: 90%;

  @media (min-width: $breakpoint-xl) {
    width: 100%;
  }
}
