@use "variables" as *;

.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  & > * {
    grid-area: 1 / 1;
  }

  &__image-wrapper {
    position: relative;
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $blue-transparent;
    }
  }

  &__image {
    max-width: inherit;
    width: 100%;
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $space-50;
    z-index: 1;

    h1 {
      color: $white;
      font-family: $font-intro;
      font-size: 5rem;
      font-size: clamp(1.5rem, 4.459vw + 0.608rem, 5.625rem);
      font-weight: 400;
      line-height: 1.25;
      line-height: clamp(1.875rem, 5.878vw + 0.699rem, 7.313rem);
      margin: 0;
      text-align: center;
    }
  }
}
