@use "variables" as *;

.schedule {
  background-color: $grey;
  display: flex;
  justify-content: center;
  padding: $space-90;
  width: 100%;

  &__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: $container-width;

    p {
      text-align: center;
    }
  }

  &__scheduling-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: $space-90;
    justify-content: center;
    margin-top: $space-90;
  }

  &__card {
    background-color: $blue;
    border-radius: 2rem;
    padding: $space-70;
  }
}
