---
import Head from '../components/Head.astro';
import '../styles/global.scss'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<Head />
		<title>Daniel Stuyck</title>
	</head>
	<body>
		<div class="home__header-wrapper">
			<slot />
		</div>
	</body>
</html>
